
body{
    /*display: flex;*/
    /*justify-content: center;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*flex-wrap: nowrap;*/

}

#mainContent{
    width: 60%;
    height: 100%;
    align-self: center;
}

#FigmaLinks{
    display: grid;
    gap: 10px;
    grid-row: 1;
    width: fit-content;
}
#FigmaLinks a{

}
#FigmaImages{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.FigmaImage{
    width: 206px;
    height: 458px;
}
#userFlowImg{
    width: 70%;
    height: 70%;
}
#HEtable{
    text-align: left;
    font-weight: normal;
}
#HEtableHeader{
    text-align: center;
    font-weight: bold;
}
.HEtableNumbers{
    text-align: center;
}

#databaseStructureImg{
    width: 70%;
    height: 70%;
}